[toolchain]
anchor_version = "0.31.1"
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
basic = "JAVuBXeBZqXNtS73azhBDAoYaaAFfo4gWXoZe2e7Jf8H"
charging_session = "5emVuARWebNveyqe9ivrM24yhBMdLWJvq3qzYTDDd66u"
points_marketplace = "9PQHr2B1MoxNwyjwdvxZcc7VifqKsetsjvikGwxu2Eko"
virtual_plot = "Ex4pz9FX9RQUHcSdb74MzTN4hpPFAHMKfqf3RtWcVHRc"
game_engine = "GaMeENgNEwq9D7UJt7Fzv4LptHKCBNkzxqpGMVJ7KQRK"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "../node_modules/.bin/jest"
